<slider-component class="slider-mobile-gutter page-width-desktop scroll-trigger animate--slide-in">
    <div class="category">
    {% for block in section.blocks %}
      <div class="{{ block.settings.class_name }}">
        <a href="{{ block.settings.url }}">
          <span>{{ block.settings.alt_text }}</span>
          <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.alt_text }}">
        </a>
      </div>
    {% endfor %}
  </div>
</slider-component>

  
  {% schema %}
  {
    "name": "カテゴリ一覧",
    "settings": [],
    "blocks": [
      {
        "type": "custom_block_1",
        "name": "Custom Block_1",
        "settings": [
          {
            "type": "text",
            "label": "Class名",
            "id": "class_name"
          },
          {
            "type": "url",
            "label": "URL",
            "id": "url"
          },
          {
            "type": "image_picker",
            "label": "画像ピッカー",
            "id": "image"
          },
          {
            "type": "text",
            "label": "テキスト",
            "id": "alt_text"
          }
        ]
      },
      {
        "type": "custom_block_2",
        "name": "Custom Block_2",
        "settings": [
          {
            "type": "text",
            "label": "Class名",
            "id": "class_name"
          },
          {
            "type": "url",
            "label": "URL",
            "id": "url"
          },
          {
            "type": "image_picker",
            "label": "画像ピッカー",
            "id": "image"
          },
          {
            "type": "text",
            "label": "テキスト",
            "id": "alt_text"
          }
        ]
      },
      {
        "type": "custom_block_3",
        "name": "Custom Block_3",
        "settings": [
          {
            "type": "text",
            "label": "Class名",
            "id": "class_name"
          },
          {
            "type": "url",
            "label": "URL",
            "id": "url"
          },
          {
            "type": "image_picker",
            "label": "画像ピッカー",
            "id": "image"
          },
          {
            "type": "text",
            "label": "テキスト",
            "id": "alt_text"
          }
        ]
      }
    ],
    "presets": [
        {
          "name": "カテゴリ一覧"
        }
      ]
  }
  {% endschema %}
  
  {%- style -%}
  .category {
    margin:1rem 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .category .first {
    width:49%;
  }
  .category img {
    width:100%;
  }
  .category div {
    width:24%;
    position:relative;
  }
  @media screen and (max-width: 750px) {
    .category {
    margin:0 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: inherit;
  }
    .category .first {
      width:100%;
      order:0;
  }
    .category div {
      width:48%;
      order:1;
      position:relative;
    }
    .category div a img {
      width:100%;
    }
  }
  .category span {
    color: #fff;
    text-decoration: none;
    position: absolute;
    bottom: 1em;
    left: 1em;
    font-size: 0.8em;
}

  {%- endstyle -%}