{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }
  }
  .collection-back {
    background: #fff;
    padding: 0;
    position:relative;
  }
  .collection-back .media img {
    padding-left:20rem;
    background:#fff;
  }
  @media screen and (min-width: 750px) {
    .collection-back .collection-hero__inner {
    position: absolute;
    top: 10rem;
    width: 100%;
    margin-left: 10rem;
  }
  .card__badge.bottom.left {
  position: absolute;
  top: -17em !important;
}
  }
  @media screen and (max-width: 749px) {
    .collection-back .media img {
      padding-left: calc(100% - 100% / 1440 * 1240);
    }
    .collection-back .collection-hero__inner {
    margin-left: 2rem;
    max-width: 100%;
    position: absolute;
    top: 3rem;

  }
  html:lang(en) .collection-hero__title {
    letter-spacing: .1rem;
  }
  }
  .collection-hero__title{
  margin-bottom: 0;
  font-family: Noto Serif JP;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.875rem;
    letter-spacing: .45rem;
    text-align: left;
    color: #333;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding:1rem;
}
.collection-hero__title:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #fff;
  transform-origin: bottom;
  transform: skewX(-30deg);
  opacity: 0.9;
}
@media screen and (max-width:749px) {
    .collection-hero__title:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #fff;
    transform-origin: bottom;
    transform: skewX(0deg);
    opacity: 0.9;
}
}
  .page-width-desktop {
    display: block;
}

@media screen and (max-width:749px){
.sakusha-list {
  gap: 2em 1em !important;
  padding-top:1em;
}
.card__badge.bottom.left {
  position: absolute;
  top: -15em !important;
}
}
{%- endstyle -%}

<div class="collection-back collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  {%- if section.settings.show_collection_image and collection.image -%}
    <div class="collection-hero__image-container media gradient">
      <img src="{{ collection.image | image_url }}"
        alt="" >
    </div>
    {% else %}
    <div class="collection-hero__image-container media gradient">
      <img src="{{ 'image.webp' | asset_url }}">
    </div>
  {%- endif -%}
  <div class="collection-hero__inner {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        {% if collection %}
          {% if collection.title == 'WORK' %}
            あなたの感性を刺激する<br>多くの作品がここにある
          {% else %}
            {{- collection.title | escape -}}
          {% endif %}
        {% else %}
        あなたの感性を刺激する<br>
        多くの作品がここにある
        {% endif %}
      </h1>      

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "background-1"
    }
  ]
}
{% endschema %}
