<div class="page-width">
    <div class="title-recently">
    <h2 class="product-recommendations__heading h2">閲覧履歴</h2>
    </div>
    <ul class="recently-viewed grid product-grid grid--4-col-desktop grid--2-col-tablet-down" role="list"">
    <!-- Recently viewed products will appear here -->
    </ul>
</div>

<script>
function setRecentlyViewedProducts() {
  const productData = {
    productTitle: "{{ product.title }}",
    productImg: "{{ product.featured_media | image_url: width: 533 }}",
    imgWidth:"{{ product.featured_media.width }}",
    imgHeight:"{{ product.featured_media.height }}",
    productPrice: "{{ product.price | money_with_currency }}",
    productUrl: "{{ product.url }}",
    productImageAltText: "{{product.featured_media.alt | escape }}"
  };
  const productList = [];
  let jsonResp, jsonRespArr, jsonRespArrStr;
  const numberOfProducts = 4;
  productList.push(productData);
  const currProductPageTitle = productData.productTitle;
  const productDataString = JSON.stringify(productList);
  const localData = localStorage.getItem("recentlyViewedProduct");

  if (localData === null) {
    localStorage.setItem("recentlyViewedProduct", productDataString);
  } else if (localData) {
    const oldProductData = localStorage.getItem("recentlyViewedProduct");
    const countProductData = (oldProductData.match(/productTitle/g) || []).length;
    const sameProduct = oldProductData.includes(currProductPageTitle);
    if (countProductData < numberOfProducts && sameProduct == false) {
      jsonResp = JSON.parse(oldProductData);
      jsonRespArr = jsonResp.concat(productList);
      jsonRespArrStr = JSON.stringify(jsonRespArr);
      localStorage.setItem("recentlyViewedProduct", jsonRespArrStr);
    } else if (countProductData >= numberOfProducts && sameProduct == false) {
      jsonResp = JSON.parse(oldProductData);
      jsonResp.shift();
      jsonRespArr = jsonResp.concat(productList);
      jsonRespArr = JSON.stringify(jsonRespArr);
      localStorage.setItem("recentlyViewedProduct", jsonRespArr);
    }
  }
}

setRecentlyViewedProducts();
const localViewed = localStorage.recentlyViewedProduct;
function getRecentlyViewedProducts() {
  const productData = JSON.parse(localStorage.getItem("recentlyViewedProduct"));
  const recentlyViewedHtml = [];
  productData.map(item => {
    recentlyViewedHtml.unshift(`
    <li class="grid__item">
     <div class="card-wrapper underline-links-hover">
      <div class="card card--standard card--media " style="--ratio-percent: 100%;">
        <div class="card__inner color-background-2 gradient ratio" style="--ratio-percent: 100%;">
         <div style="position:static" class="card__media">
         <div class="media media--transparent media--hover-effect">
         <div class="image">
            <img class="motion-reduce" src="${item.productImg}" loading="lazy" alt="${item.productImageAltText}"/>
          </div>
         </div>
         </div>         
       </div>
       <div class="card__content">
       <div class="card__information">
        <p class="card__producer">
            生産者:
            {{- product.metafields.custom.producer.value }}
          </p>
       <h3 class="card__heading h5">
       <a class="full-unstyled-link" href="${item.productUrl}">${item.productTitle}</a></h3>
         <div class="card-information">
           <div class="price">
              <div class="product-price">
                   ${item.productPrice}
               </div>
           </div>
         </div>
       </div>
       </div>
       </div>
       </div>
    </li>
   `);
  });
  const newProductData = `${recentlyViewedHtml.join("")}`;
  const fullContent = document.getElementsByClassName("recently-viewed");
  fullContent[0].innerHTML = newProductData;
}

document.addEventListener("DOMContentLoaded", function (event) {
  getRecentlyViewedProducts();
});

</script>


{% schema %}
  {
    "name": "Recent Products",
    "settings": [
      {
      "type": "text",
      "id": "heading",
      "default": "Recently Viewed",
      "label": "Title"
    }
    ]
  }
{% endschema %}
<style>
    /* .shopify-section .page-width {
        padding-top: 135px;
    } */
    .recently-viewed{
        display: flex;
        flex-wrap: nowrap;
        gap: 11px;
    }
    .recently-viewed .card.card--standard.card--media{
        width: 260px;
        height: 420px;
    } 
    .recently-viewed .grid__item {
        max-width: 272px !important;
        padding: 0px;
    }
    .recently-viewed .card__information, .card__heading.h5 {
        color: #595757;
        font-family: Noto Sans JP;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 213.333% */
    }
    .recently-viewed .card__producer{
        margin-bottom: 5px !important;
    }
    .recently-viewed .card__heading.h5 {
        margin: 0 0 5px 0;
    }
    .product-recommendations__heading {
        padding-top: 135px;
    }
    .product-recommendations__heading.h2 {
        color: #595757;
        font-family: Noto Sans JP;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 0px;
    }
    .recently-viewed .card__heading.h5 a {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .title-recently {
        padding-bottom: 26px;
        margin-bottom: 49px;
        border-bottom: rgb(208 208 208) solid 1px;
    }
    .recently-viewed .image {
        position: relative !important;
        background-color: white;
    }
    .recently-viewed .image img{
        width: 26rem;
        height: 26rem;
    }
    @media screen and (max-width: 768px) {
        .recently-viewed .grid__item {
            max-width: 178px !important;
            padding: 0px;
        }
        .recently-viewed .card.card--standard.card--media {
            height: 420px;
            width: auto;
        }
        .recently-viewed .image img {
            width: 18rem;
            height: 20rem;
    }
    }

</style>