<slider-component class="slider-mobile-gutter page-width-desktop scroll-trigger animate--slide-in">
  <div class="tagsWrap">
    <div
      class="collapsible-content__header{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {%- if section.settings.heading != blank -%}
        <h2 class="collapsible-content__heading inline-richtext {{ section.settings.heading_size }}">
          {{ section.settings.heading }}
        </h2>
      {%- else -%}
        <h2 class="visually-hidden">{{ 'accessibility.collapsible_content_title' | t }}</h2>
      {% endif %}
      {%- if section.settings.caption != blank -%}
        <p class="caption-with-letter-spacing">
          {{ section.settings.caption | escape }}
        </p>
      {% endif %}
    </div>
  </div>
    <ul class="sakusha-list">
      {% for artist in shop.metaobjects.artist.values %}
        <li><a class="artist-link" href="{{ page.url }}/pages/artists/{{ artist.name_romaji.value | downcase | replace: ' ', '-' }}">{{ artist.name.value }}</a></li>
    {% endfor %}
    </ul>
</slider-component>


{% schema %}
{
  "name": "作者タグ",
  "settings": [
    {
      "type": "text",
      "id": "caption",
      "label": "キャプション"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "見出し",
      "default": "Collapsible content"
    }
  ],
    "presets": [
      {
        "name": "作者タグ"
      }
    ]
  }
{% endschema %}

{%- style -%}
.sakusha-list {
    list-style: none;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
@media screen and (max-width: 750px) {
  .sakusha-list {
    list-style: none;
    display: flex;
    gap: 2em 1em;
    flex-wrap: wrap;
    overflow-x: scroll;
    height: 9em;
    flex-direction: column;
}
}
.sakusha-list li a {
    padding: 1rem 2rem;
    border: 1px solid;
    white-space: nowrap;
}
.sakusha-list a {
    line-height: 1.5;
    font-family: var(--font-body-family);
    text-decoration: none;
    color: currentColor;
    border:none;
    padding:0;
}
.sakusha-list a:hover {
  background:#fff;
}
.sakusha-list .artist-link {
  margin-top: 0px;
}
{%- endstyle -%}